<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="start building your next bilion dollar web application with Phoenix/Elixir">
    <meta name="author" content="Tiziano Puppi">

    <title>Kickstart</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <!--Material Design Components - Web-->
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <style>
        :root {
            --mdc-theme-primary: #111111;
            --mdc-theme-accent: #357EDD;
        }
    </style>
  </head>

  <body>

    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <!--Material Design Components - Web (js)-->
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script>window.mdc.autoInit();</script>

  </body>
</html>
