@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300&subset=latin-ext');

.ssp-light {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.ssp-x-light {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}
